@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> CSS STANDARDS
----------------------------------------------------------------
1. Place in appropriate section
2. Add new sections to the Table of Contents as needed
3. Order properties consistently inside each declaration i.e. alphabetically or by function 
4. Declaration selectors should each occupy a new line
5. Enter one new line between rules
6. Enter more than one new line between categories 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
        - Color
        - Size

--------------------------------------------------------------*/
/*--------------------------------------------------------------
4.0 - ELEMENTS
-------------------------------------------------------------- */

:focus {
    outline:0;
	
}

/* -- FORMS -- */

form label{
	display: block;
}

form#e-news{
	margin: 0 auto;
	text-align: center;
}

form#e-news input{
	float: none;
}

#e-news label, #e-news input, #e-news p:last-child {
	display: inline-block;
}

form input{
	width: 100%;
}
/* -- MEDIA -- */


/* -- TYPOGRAPHY -- */

html{
	background-color: #061633;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	line-height: 1.8rem;
	font-weight: 300;
}

h2, #hero div > div > div:nth-child(1) > p:nth-child(1), .btn{
	text-transform: uppercase;
}

h2, #hero > div > div > div:nth-child(1) > p:nth-child(1){
	font-family: 'Fira Sans Condensed', sans-serif;
	font-weight:800;
	font-size: 2rem;
}

h2 span, #hero > div > div > div:nth-child(1) > p:nth-child(1) span{
	font-family: 'Fira Sans Condensed', sans-serif;
	font-weight:300;
}

h3{
	margin-bottom: 0;
}

h2, #hero div > div > div:nth-child(1) > p:nth-child(1) {
	line-height: 1em;
}

#e-news > p{
	font-weight:600;
	font-size: 1.2rem;

}

footer{
	background-color: #000;
}

@media all and (min-width: 768px) {
	html{
		font-size: 1rem;
		line-height: 1.6rem; 
	}
}

@media all and (min-width: 1024px) {
	html{
		font-size: .9rem;
		line-height: 1.4rem; 
	}
}
/*--------------------------------------------------------------
5.0 - OBJECTS
-------------------------------------------------------------- */

/* -- FRAMEWORK -- */

/* div element that contains the map */

 .tabbed-content {
	 background: #fff;
	 max-width: 100%;
	 margin: 1em auto;
}
 .tabs ul {
	 margin: 0;
	 padding: 0 0 1em 0;
	 font-weight: bold;
}
 .tabs ul li {
	 background: #eee;
}
 .tabs ul li a {
	 padding: 3em 4em;	 
}

 .tabs ul li a:hover, .tabs ul li a.active {
	 background: #444;
	 color: #eee;
}
 .item {
	 margin-bottom: 2px;
}
 .item::before {
	 cursor: pointer;
	 font-weight: bold;
	 background: #eee;
	 padding: 0.5em;
	 display: block;
}
 .item.active::before {
	 background: #444;
	 color: #eee;
}
 .item.active .item-content {
	 padding: 1em;
	 -webkit-transition: opacity 0.3s ease-in-out;
	 -moz-transition: opacity 0.3s ease-in-out;
	 -o-transition: opacity 0.3s ease-in-out;
	 -ms-transition: opacity 0.3s ease-in-out;
	 transition: opacity 0.3s ease-in-out;
}

/* The project specific CSS starts here This is the minimum CSS that you will need in order for this to work */
 .tabbed-content .tabs {
	 padding: 0;
}
 .tabbed-content .item {
	 min-height: 2em;
}
 .tabbed-content .item::before {
	 content: attr(data-title);
	 text-align: center;
}
 .tabbed-content .item .item-content,  .tabbed-content .item .item-content div, .tabbed-content .tabs {
	 display: none;
}

.tabbed-content .item .item-content [class*="col-"]{
	margin: 0;
}

 .tabbed-content .item.active .item-content,  .tabbed-content .item.active .item-content div {
	display: block;
}
 @media all and (min-width: 768px) {
	 .tabbed-content .tabs {
		 display: block;
	}
	 .tabbed-content .tabs li {
		 display: inline-block;
	}
	 .tabbed-content .tabs li a {
		 display: block;
	}
	 .tabbed-content .item {
		 min-height: 0;
	}
	 .tabbed-content .item::before {
		 display: none;
	}
	 .tabbed-content.tabs-side .tabs li {
		 display: block;
	}
	 
    .item.active .item-content {
       padding-top: 0;
  }
   .tabs-side .tabs li {
       margin-bottom: 2px;
  }
	
}

/*--------------------------------------------------------------
6.0 - COMPONENTS
-------------------------------------------------------------- */
body > header{
	padding: 1em 0 2.5em 0;
}

#hero{
	background-image:url("../img/hero.jpg");
	background-size: cover;
	background-position: center;
}

#hero > div > div > div:nth-child(1) > p:nth-child(1){
	font-size: 3rem;
}

button {
    position: absolute;
    top: 0;
    right: 5px;
    text-indent: 200%;
    overflow: hidden;
    background: url(https://i.imgur.com/vKRaKDX.png) center right no-repeat;
    background-size: contain;
    width: 103%;
    height: 40px;
    outline: none;
    transition: all 400ms ease;
	border: none;
}

#about-us section{
	margin-bottom: .5em;
}

#about-us p{
	margin-top: .5em;
}

#about-us > div > section:nth-child(4){
	margin-bottom: 2.5em;
}

#side_tab1 .img, #side_tab2 .img, #side_tab3 .img, #side_tab4 .img, #side_tab5 .img  {
	background-position: center;
	background-size: cover;
	height: 250px;
}

#side_tab1 .img {
	background-image:url("../img/service-five-day.jpg");
}

#side_tab2 .img {
	background-image:url("../img/service-four-day.jpg");
}

#side_tab3 .img {
	background-image:url("../img/service-three-day.jpg");
}

#side_tab4 .img {
	background-image:url("../img/service-two-day.jpg");
}

#side_tab5 .img {
	background-image:url("../img/service-half-day.jpg");
}
@media all and (min-width: 768px) {
    div #our-team-image{
        background-image: url("../img/our-team-img.jpg");
        position: absolute;
        height: 500px;
        width: 48%;
        top: 0;
        left: 0;
		background-size: cover;
		background-position: center;
		margin-top: 5em;
    }
}

@media all and (min-width: 1024px) {
    div #our-team-image{    
        width: 55%;
    }
}

#map {
  height: 200px;
  width: 100%;  
 }


#position-container{
	position: relative;
	top: 0;
	left: 0;
}

#our-services {
	color: #000;
}

#our-services > div:nth-child(3), #our-services h2{
	color: #fff;
}

#our-team{
	margin: 5em 0 20em;
}
/* -- NAVIGATION -- */

#mobile{
	
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 1;
	
}

#mobile div {
	display: none;
}

#hero nav ul{
    list-style-type: none;
}

#hero nav li{
    text-align:center;  
}

#hero nav a{
	color: #000;
}

#hero nav a:hover{
	color: #ecaf20;
}


@media all and (min-width: 768px) {
	
	 #mobile div{
		display: block !important;
	}
	#mobile {
		position: static;
		display: block;
		background-color: transparent;
	}
	button{
		display: none;
	}
	
	#hero nav ul{
	list-style-type: none;
}

	#hero nav ul li{
		text-align:right;
		color: #fff;
	}
	
	#hero nav a{
		color: #fff;
		font-weight: 600;
	}
	
	#hero nav a:hover{
		border-bottom: .2em solid #ecaf20;	
	}
	
}


nav li{
	padding-bottom: 2em;
}

/* -- Buttons -- */
a{
text-decoration: none;	
}

.btn{
	color: #000;
}

.btn, .btn-white{
	border-bottom: .2em solid #ecaf20;
	font-weight: 600;
}

.btn:hover, .btn-white:hover{
	background-color: #ecaf20;
	padding: .7em 2em;
	color: #fff;
	font-weight: 600;
}

.btn-form{
	color: white;
}


/* -- Sprites -- */
ul span{
	display:none;
}

footer ul{
	list-style-type: none;
	text-align: right;
	text-decoration: none;
	
}

footer li{
	display: inline-block;
	font-size:1.5rem;
	margin-top: .5em;
}

footer li:first-child, footer li:nth-child(2){
	margin-right: 1.5em;
}

footer a{
	color: white;
}

footer a:hover{
	color:#ecaf20;
}
/*--------------------------------------------------------------
7.0 - UTLITY
-------------------------------------------------------------- */

/*---ALIGNMENTS--- */

.float-right{
	float: right;
}


/*---COLORS--- */

.yellow-txt, h2 span, h3, form label{
	color: #ecaf20;
}

.black-txt{
	color: #000;
}